// Mixins ----------------------------------------------------------------------
// http://css3please.com/
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

$control-width: 70px;
$bar-height: 86px;

html,
body {
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

// Bar -------------------------------------------------------------------------

.bar {
  z-index: 1000;
  position: absolute;
  left: 0;
  width: 100%;
  background: transparent url(/assets/bg.png) repeat-x 0 0;
  @include box-shadow(10px 3px 10px #666);
}
.section {
  position: absolute;
  bottom: 7px;
  height: 73px;
  text-align: center;
}
.control {
  float: left;
  width: $control-width;
  color: #666;
  font-size: 12px;
  .icon {
    margin: 0 auto;
  }
}
.caption {
  padding-top: 5px;
}

#controls {
  bottom: 0;
  height: $bar-height;
}

#kinds {
  left: 0;
  width: 3 * $control-width;
  border-right: 1px solid #ccc;
  input {
    display: block;
    margin: 0 auto;
  }
}
#statuses {
  left: 3 * $control-width + 1;
  width: 3 * $control-width;
  border-right: 1px solid #ccc;
}
#favories {
  left: 6 * $control-width + 2;
  width: $control-width;
  border-right: 1px solid #ccc;
}

#statuses .control,
#favories .control {
  padding-top: 5px;
}
#statuses .icon,
#favories .icon {
  width: 44px;
  height: 44px;
  background: transparent url(/assets/sprites.gif) no-repeat 0 0;
}
#deblaye .icon {
  background-position: 0 0;
  &.active,
  &:hover {
    background-position: 0 -44px;
  }
}
#arrose .icon {
  background-position: -44px 0;
  &.active,
  &:hover {
    background-position: -44px -44px;
  }
}
#resurface .icon {
  background-position: -88px 0;
  &.active,
  &:hover {
    background-position: -88px -44px;
  }
}
#favories .icon {
  background-position: -132px 0;
  &.active,
  &:hover {
    background-position: -132px -44px;
  }
}
#branding {
  right: 0;
  img {
    vertical-align: middle;
  }
}

.statuses {
  .icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: transparent url(/assets/sprites.gif) no-repeat 0 0;
  }
  .deblaye {
    background-position: -176px 0;
    &.active {
      background-position: -176px -28px;
    }
  }
  .arrose {
    background-position: -204px 0;
    &.active {
      background-position: -204px -28px;
    }
  }
  .resurface {
    background-position: -232px 0;
    &.active {
      background-position: -232px -28px;
    }
  }
  .favorite {
    background-position: -260px 0;
    &.active {
      background-position: -260px -28px;
    }
  }
}
.lt-ie8 .statuses .icon {
  zoom: 1;
  display: inline;
}

.leaflet-popup-content {
  h2 {
    font-size: 16px;
    line-height: 24px;  
  }
  p {
    margin: 0 0 1em;
  }
}

.leaflet-control-attribution {
  bottom: $bar-height;
}

img[src*="_on.png"] {
  z-index: 2000 !important;
}
