// Mixins ----------------------------------------------------------------------
// http://css3please.com/
@mixin background-rgba($red, $green, $blue, $opacity, $rgba) {
  background-color: transparent;
  background-color: rgba($red, $green, $blue, $opacity);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$rgba}',endColorstr='#{$rgba}');
  zoom: 1;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}
@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

$sidebar-width: 240px;
$control-width: 70px;
$bar-height: 86px;

html,
body {
  height: 100%;
}
#map {
  height: 100%;
  margin-left: $sidebar-width;
}

body {
  font-size: 16px;
}
body,
h1,
h2,
h3 {
  line-height: 1.5em;
}

// Sidebar ---------------------------------------------------------------------

aside {
  position: absolute;
  left: 0;
  top: 0;
  width: $sidebar-width;
  height: 100%;
  background-color: #fefefe;
  @include box-shadow(-3px 0 10px #666);
}
.inside {
  overflow: scroll;
  height: 100%;
  padding: 0 9px;
  h1 {
    padding-top: 9px;
  }
  h2 {
    font-size: 0.8125em;
    line-height: 1.5em;
  }
}

#paypal {
  width: 222px;
  height: 56px;
  padding: 0;
  border: none;
  @include box-shadow(none);
}

// Bar -------------------------------------------------------------------------

.bar {
  z-index: 1000;
  position: absolute;
  left: 0;
  width: 100%;
  background: transparent url(/assets/bg.png) repeat-x 0 0;
  @include box-shadow(0 3px 10px #666);
}
.section {
  position: absolute;
  bottom: 7px;
  height: 73px;
  text-align: center;
}
.control {
  float: left;
  width: $control-width;
  color: #666;
  font-size: 0.75em;
  .icon {
    margin: 0 auto;
  }
}
.caption {
  padding-top: 5px;
}

#controls {
  bottom: 0;
  height: $bar-height;
}

#kinds {
  left: 0;
  width: 3 * $control-width;
  border-right: 1px solid #ccc;
  input {
    display: block;
    margin: 0 auto;
  }
}
#statuses {
  left: 3 * $control-width + 1;
  width: 3 * $control-width;
  border-right: 1px solid #ccc;
}
#favories {
  left: 6 * $control-width + 2;
  width: $control-width;
  border-right: 1px solid #ccc;
}

#statuses .control,
#favories .control {
  padding-top: 5px;
}
#statuses .icon,
#favories .icon {
  width: 44px;
  height: 44px;
  background: transparent url(/assets/sprites.gif) no-repeat 0 0;
}
#deblaye .icon {
  background-position: 0 0;
  &.active,
  &:hover {
    background-position: 0 -44px;
  }
}
#arrose .icon {
  background-position: -44px 0;
  &.active,
  &:hover {
    background-position: -44px -44px;
  }
}
#resurface .icon {
  background-position: -88px 0;
  &.active,
  &:hover {
    background-position: -88px -44px;
  }
}
#favories .icon {
  background-position: -132px 0;
  &.active,
  &:hover {
    background-position: -132px -44px;
  }
}
#branding {
  right: 10px;
  img {
    vertical-align: middle;
  }
}

// Popup -----------------------------------------------------------------------

.leaflet-popup-content {
  font-size: 1em;
  line-height: 1.5em;
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.8125em;
  }
  p {
    margin: 0 0 1em;
  }
}

.statuses {
  .icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: transparent url(/assets/sprites.gif) no-repeat 0 0;
  }
  .deblaye {
    background-position: -176px 0;
    &.active {
      background-position: -176px -28px;
    }
  }
  .arrose {
    background-position: -204px 0;
    &.active {
      background-position: -204px -28px;
    }
  }
  .resurface {
    background-position: -232px 0;
    &.active {
      background-position: -232px -28px;
    }
  }
  .favorite {
    background-position: -260px 0;
    &.active {
      background-position: -260px -28px;
    }
  }
}
.lt-ie8 .statuses .icon {
  zoom: 1;
  display: inline;
}

// Leaflet ---------------------------------------------------------------------

.leaflet-control-attribution {
  bottom: $bar-height;
}

img[src*="_on.png"] {
  z-index: 2000 !important;
}
