// Mixins ----------------------------------------------------------------------
// http://css3please.com/
@mixin background-rgba($red, $green, $blue, $opacity, $rgba) {
  background-color: transparent;
  background-color: rgba($red, $green, $blue, $opacity);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$rgba}',endColorstr='#{$rgba}');
  zoom: 1;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin border-direction-radius($direction, $radius) {
  -webkit-border-#{$direction}-radius: $radius;
  -moz-border-#{$direction}-radius: $radius;
  border-#{$direction}-radius: $radius;
}
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}
@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

$sidebar-width: 240px;
$control-width: 80px;
$bar-height: 96px;

html,
body {
  height: 100%;
}
#map {
  height: 100%;
  margin-left: $sidebar-width;
}

body {
  font-size: 16px;
}
body,
h1,
h2,
h3 {
  line-height: 1.5em;
}

em {
  font-style: normal;
  font-weight: bold;
}

#language {
  position: absolute;
  right: 10px;
  top: 0;
  background-color: #666;
  padding: 10px;
  @include border-direction-radius(bottom-right, 5px);
  @include border-direction-radius(bottom-left, 5px);
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}
.lt-ie7 #language {
  display: inline; // avoid stepdown
}

// Sidebar ---------------------------------------------------------------------

aside {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  width: $sidebar-width;
  height: 100%;
  background-color: #fefefe;
  @include box-shadow(-3px 0 10px #666);
}
#inside {
  z-index: 999;
  overflow: auto;
  padding: 0 5px;
  h1 {
    margin: 0;
    padding-top: 5px;
  }
  h2 {
    font-size: 0.8125em;
    line-height: 1.5em;
  }
}

.fb-like {
  width: 100px;
  height: 26px;
}
.social {
  float: left;
}
.twitter-follow-button {
  clear: left;
}

.email {
  width: 129px;
}
.btn {
  padding: 5px 5px 6px;
}

#paypal {
  width: 216px;
  height: 49px;
  padding: 0;
  border: none;
  @include box-shadow(none);
}

#footer {
  color: #666;
  font-size: 0.625em;
}

#disclaimer {
  color: #999;
  font-size: 0.625em;
}

// Bar -------------------------------------------------------------------------

.bar {
  z-index: 1000;
  position: absolute;
  left: 0;
  width: 100%;
  background: transparent url(/assets/bg.png) repeat-x 0 0;
  @include box-shadow(0 3px 10px #666);
}
.section {
  position: absolute;
  bottom: 7px;
  height: $bar-height - 13;
  text-align: center;
}
.control {
  float: left;
  width: $control-width;
  color: #666;
  font-size: 0.75em;
  .icon {
    margin: 0 auto;
  }
}

#controls {
  bottom: 0;
  height: $bar-height;
}

#kinds {
  left: 0;
  width: 3 * $control-width;
  border-right: 1px solid #ccc;
  input {
    display: block;
    margin: 0 auto;
  }
}
#statuses {
  left: 3 * $control-width + 1;
  width: 4 * $control-width;
  border-right: 1px solid #ccc;
}
#favories {
  left: 7 * $control-width + 2;
  width: $control-width;
  border-right: 1px solid #ccc;
}

#statuses .icon,
#favories .icon {
  width: 44px;
  height: 44px;
  background: transparent url(/assets/sprites.gif) no-repeat 0 0;
}
#deblaye .icon {
  background-position: 0 0;
  &.active,
  &:hover {
    background-position: 0 -44px;
  }
}
#arrose .icon {
  background-position: -44px 0;
  &.active,
  &:hover {
    background-position: -44px -44px;
  }
}
#resurface .icon {
  background-position: -88px 0;
  &.active,
  &:hover {
    background-position: -88px -44px;
  }
}
#favories .icon {
  background-position: -132px 0;
  &.active,
  &:hover {
    background-position: -132px -44px;
  }
}
#ouvert .icon {
  background-position: -176px 0;
  &.active,
  &:hover {
    background-position: -176px -44px;
  }
}
#branding {
  right: 10px;
  img {
    vertical-align: middle;
  }
}

// Popup -----------------------------------------------------------------------

.leaflet-popup-content {
  font-size: 0.8125em;
  line-height: 1.5em;
  h2 {
    font-size: 1.23em;
  }
  h3 {
    font-size: 1em;
  }
  p {
    margin: 1em 0 0;
    &.address {
      margin: 0;
    }
  }
}

.condition {
  font-weight: bold;
}

.statuses {
  .icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: transparent url(/assets/sprites.gif) no-repeat 0 0;
  }
  .deblaye {
    background-position: 0 -88px;
    &.active {
      background-position: 0 -116px;
    }
  }
  .arrose {
    background-position: -28px -88px;
    &.active {
      background-position: -28px -116px;
    }
  }
  .resurface {
    background-position: -56px -88px;
    &.active {
      background-position: -56px -116px;
    }
  }
  .ouvert {
    background-position: -84px -88px;
    &.active {
      background-position: -84px -116px;
    }
  }
  .favorite {
    cursor: pointer;
    background-position: -84px -88px;
    &.active {
      background-position: -84px -116px;
    }
  }
}
.lt-ie8 .statuses .icon {
  zoom: 1;
  display: inline;
}

// Leaflet ---------------------------------------------------------------------

.leaflet-control-attribution {
  bottom: $bar-height;
}

img[src*="_on.png"] {
  z-index: 2000 !important;
}

.fb-add-to-timeline.fb_iframe_widget {
  display: none;
}